

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

nav * {
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;

}

p, body, text {
	font-family: 'Nunito', sans-serif;
	line-height: 1.2em;
}

 p{
        width: 80ch;
        line-height: 1.5 ;
        font-size: 1.2rem; }